# Series 
* Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). 
* The axis labels are collectively referred to as the index. 
* Series is very similar to numpy array, except series also has a  axis labels. <br>
Refs: https://pandas.pydata.org/docs/user_guide/dsintro.html#series

## Format 
s = pd.Series(data, index=index)

Here, data can be many different things:

* a list
* an ndarray
* a Python dict
* any Python object

In [1]:
#importing 
import numpy as np 
import pandas as pd

### Series from a list

In [2]:
#Creating list, arr and dict Data
myList=[10,20,30,40]
label=['w','x','y','z']
myArr =np.array([5,10,15,20])
mydict ={'a':100,'b':200,'c':300}

In [3]:
#Creating series without label
pd.Series(myList)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
#Creating series with label
pd.Series(myList,label)

w    10
x    20
y    30
z    40
dtype: int64

### Series from a numpy array

In [16]:
#without a label
pd.Series(myArr)

0     5
1    10
2    15
3    20
dtype: int64

In [19]:
#Series from arr with label
pd.Series(myArr,label)

w     5
x    10
y    15
z    20
dtype: int64

### Series from a dict

In [21]:
pd.Series(mydict)

a    100
b    200
c    300
dtype: int64

In [23]:
#Creating series from built-in function
pd.Series([sum,print,len,max],index=['sum','print','len','max'])

sum        <built-in function sum>
print    <built-in function print>
len        <built-in function len>
max        <built-in function max>
dtype: object

## Create multiple series and perform some operations

In [24]:
ser1 = pd.Series([10,20,30,40],index=['a','b','c','d'])

In [25]:
ser2 = pd.Series([1,2,3,4],index=['a','x','c','d'])

In [26]:
#addition 
ser1+ser2

a    11.0
b     NaN
c    33.0
d    44.0
x     NaN
dtype: float64

addition operation is done based on index

In [28]:
#subtraction
ser1-ser2

a     9.0
b     NaN
c    27.0
d    36.0
x     NaN
dtype: float64

In [31]:
ser1*ser2

a     10.0
b      NaN
c     90.0
d    160.0
x      NaN
dtype: float64

In [32]:
ser1/ser2

a    10.0
b     NaN
c    10.0
d    10.0
x     NaN
dtype: float64

#### Refs: 
1. https://pandas.pydata.org/docs/user_guide/index.html <br>
2. https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html <br>
3. https://pandas.pydata.org/docs/user_guide/10min.html <br>