# Reading/Writing tabular data 
* pd.read_csv(): for reading from csv file 
* df.to_csv(): for writing into csv file  
* pd.read_excel(): for reading from excel file 
* df.to_excel(): for writing into excel file <br>

Ref: https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html#

In [1]:
import numpy as np 
import pandas as pd

### Reading from csv file

In [3]:
df = pd.read_csv('sample.csv')
df

  Col1  Col2
0    a    10
1    b    20
2    c    30
3    d    40

In [21]:
#Adding a new column
df['Col3']=df['Col2']+5
df

  Col1  Col2  Col3
0    a    10    15
1    b    20    25
2    c    30    35
3    d    40    45

### Writing into csv file

In [11]:
df.to_csv('sample.csv',index=False)

In [13]:
pd.read_csv('sample.csv')

  Col1  Col2  Col3
0    a    10    15
1    b    20    25
2    c    30    35
3    d    40    45

### Writing into excel file

In [18]:
df.to_excel('sample.xlsx',sheet_name='sheet1',index=False)

### Reading from excel file

In [19]:
pd.read_excel('sample.xlsx',sheet_name='sheet1')

  Col1  Col2  Col3
0    a    10    15
1    b    20    25
2    c    30    35
3    d    40    45